{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Title</title>
</head>
<body>
{{ message_1|safe }}
{% trans 'Su Pedido' %}:
<ul class="list-unsty">
								<li><span class="product-price"><small>  {% trans 'Pedido' %} ref. : </small>{{ order.id }}  </span></li>
		            {% for item in order.cart.products.all %}
								<li><span class="product-price">{{ item.qty }} x {{ item.item.title }} = {{ item.final_price }}</span></li>
		            {% endfor %}
								<li><span class="product-price"><small>  {% trans 'Meses' %}: </small>{{ order.month }}</span></li>
								<li><span class="product-price"><small>  Total: </small>{{ order.cart.final_price }}</span></li>

						</ul>

{{ message_2|safe }}
</body>
</html>