{% extends 'main/base.html' %}
{% load static %}
{% block content %}

{% autoescape off %}
{{ text.info }}
{% endautoescape %}

				<div class="team-area pt-100 pb-70">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>Our Staff</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="single-team-wrap text-center mb-30" data-aos="fade-up" data-aos-delay="200">
                            <img src="{% static 'images/staff-1.jpg' %}" alt="">
                            <div class="team-info-position">
                                <div class="team-info">
                                    <h3>Kari Rasmus</h3>
                                    <span>Sales Man</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="single-team-wrap text-center mb-30" data-aos="fade-up" data-aos-delay="400">
                            <img src="{% static 'images/staff-2.jpg' %}" alt="">
                            <div class="team-info-position">
                                <div class="team-info">
                                    <h3>Kari Rasmus</h3>
                                    <span>Sales Man</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="single-team-wrap text-center mb-30" data-aos="fade-up" data-aos-delay="600">
                            <img src="{% static 'images/staff-3.jpg' %}" alt="">
                            <div class="team-info-position">
                                <div class="team-info">
                                    <h3>Kari Rasmus</h3>
                                    <span>Sales Man</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial-area pb-100">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>Testimonial</h2>
                </div>
                <div class="testimonial-active swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-testimonial" data-aos="fade-up" data-aos-delay="200">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonial/client-1.png" alt="">
                                </div>
                                <p>Excellent service. Karl was really helpful! Would definitely recommend....</p>
                                <div class="testimonial-info">
                                    <h4>Amrita Sha</h4>
                                    <span> Our Client.</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonial" data-aos="fade-up" data-aos-delay="400">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonial/client-2.png" alt="">
                                </div>
                                <p>Very helpful and pleasant staff. :) Also very easy reservation and cancellation ...</p>
                                <div class="testimonial-info">
                                    <h4>Andi Lane</h4>
                                    <span> Our Client.</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonial" data-aos="fade-up" data-aos-delay="600">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonial/client-1.png" alt="">
                                </div>
                                <p>Great service ! ...</p>
                                <div class="testimonial-info">
                                    <h4>Ted Ellison</h4>
                                    <span> Developer.</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonial">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonial/client-2.png" alt="">
                                </div>
                                <p>Great service ! ...</p>
                                <div class="testimonial-info">
                                    <h4>Aliah Pitts</h4>
                                    <span> Our Client.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="subscribe-area pb-100">
            <div class="container">
                <div class="section-title-3 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
                    <h2>Join With Us!</h2>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div id="mc_embed_signup" class="subscribe-form" data-aos="fade-up" data-aos-delay="400">
                            <iframe src="https://www.smartbox-es.com/wp-content/uploads/2022/04/video-smartbox-tablero.mp4?_=1" height="431" width="760" allowfullscreen="" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>




{% endblock content %}