{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

         {% if messages %}
            {% for message in messages %}
                <div class="container">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
		                <center><h5>{{ message }}</h5></center>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lable="Close"></button>
                </div>

                </div>
            {% endfor %}
				{% endif %}

<div class="checkout-main-area pb-100 pt-100">
            <div class="container">
                <div class="customer-zone mb-20">
                    <p class="cart-page-title">Have a coupon? <a class="checkout-click3" href="#">Click here to enter your code</a></p>
                    <div class="checkout-login-info3">
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <input type="submit" value="Apply Coupon">
                        </form>
                    </div>
                </div>
                <div class="checkout-wrap pt-30">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="billing-info-wrap">

                                <h3>Billing Details</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <form action="{% url 'make_order' %}" method="POST">
																									{% csrf_token %}
																						<!--		<div class="form-error">{{ form.non_field_errors }}</div>


																						<p><label class="" for="{{ f.id_for_label }}">{{f.label}} </label><input class="form-control" name="number"  type="text" value="{{ customer.number }}"></p>
																						<div class="form-error">{{ f.errors }}</div>  -->

		                                            <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>First Name <abbr class="required" title="required">*</abbr></label>
                                            <input class="form-control" name="first_name"  type="text" value="{{ customer.first_name }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Last Name <abbr class="required" title="required">*</abbr></label>
                                            <input class="form-control" name="last_name"  type="text" value="{{ customer.last_name }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Telefono <abbr class="required" title="required">*</abbr></label>
																            <input class="form-control" name="phone"  type="text" value="{{ customer.phone }}">
                                        </div>
                                    </div>
		                                <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Email <abbr class="required" title="required">*</abbr></label>
																            <input class="form-control" name="email"  type="text" value="{{ customer.email }}">
                                        </div>
                                    </div>
		                                <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>City <abbr class="required" title="required">*</abbr></label>
																            <input class="form-control" name="city"  type="text" value="{{ customer.city }}">
                                        </div>
                                    </div>
		                                <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Street <abbr class="required" title="required">*</abbr></label>
																                            <input class="form-control" name="street"  type="text" value="{{ customer.street }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Number <abbr class="required" title="required">*</abbr></label>
																            <input class="form-control" name="number"  type="text" value="{{ customer.number }}">
                                        </div>
                                    </div>
		                                <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Fecha de inicio <abbr class="required" title="required">*</abbr></label>
																            <p>{{ form.order_date}}</p>
                                        </div>
                                    </div>
		                                <div class="col-lg-12">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>


																								<hr>

																								<button class="btn btn-outline-dark" type="submit">{% trans 'Reservar' %}</button>
																						</form>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="your-order-area">
                                <h3>Your order</h3>
                                <div class="your-order-wrap gray-bg-4">
                                    <div class="your-order-info-wrap">
                                        <div class="your-order-info">
                                            <ul>
                                                <li>Product <span>Total</span></li>
                                            </ul>
                                        </div>
                                        <div class="your-order-middle">
                                            <ul>
		                                            {% for item in cart.products.all %}
                                                <li>{{item.qty}} {{item.item.title}} x  1 mes   <span>{{item.final_price|floatformat:2}}€ </span></li>

		                                            {% endfor %}
                                            </ul
                                        </div>
                                        <div class="your-order-info order-subtotal">
                                            <ul>
                                                <li>Total x {{ cart.month }} meses<span>{{cart.final_price|floatformat:2}}€ </span></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="Place-order btn-hover">
                                    <a href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}


 
