{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="slider-area">
            <div class="slider-active swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url({% static 'assets/images/slider/slider-bg-3.jpg' %})">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 hm2-slider-animation">
                                        <div class="slider-content-2 slider-animated-3">
                                            <h3 class="animated">Up To 40% Off</h3>
                                            <h1 class="animated">Summer <br>Collection</h1>
                                            <div class="slider-btn-2 btn-hover">
                                                <a href="product-details.html" class="btn hover-border-radius theme-color animated">
                                                    Shop Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url(assets/images/slider/slider-bg-3-2.jpg)">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 hm2-slider-animation">
                                        <div class="slider-content-2 slider-animated-3">
                                            <h3 class="animated">Up To 40% Off</h3>
                                            <h1 class="animated">Summer <br>Collection</h1>
                                            <div class="slider-btn-2 btn-hover">
                                                <a href="product-details.html" class="btn hover-border-radius theme-color animated">
                                                    Shop Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home-slider-prev2 main-slider-nav2"><i class="fa fa-angle-left"></i></div>
                    <div class="home-slider-next2 main-slider-nav2"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
<!-- shop-area-->

<div class="shop-area pt-100 pb-100">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-12">

                        <div class="shop-bottom-area">
                            <div class="tab-content jump">
                                <div >
                                    <div class="row">

									                      {% for product in products %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                            <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                                <div class="product-img img-zoom mb-25">
                                                    <a href="product-details.html">
                                                        <img src="{% static 'assets/images/product/product-4.png' %}" alt="">
                                                    </a>
                                                    <div class="product-badge badge-top badge-right badge-pink">
                                                        <span>-10%</span>
                                                    </div>
                                                    <div class="product-action-wrap">

                                                        <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal-{{product.id}}">
                                                            <i class="pe-7s-look"></i>
                                                        </button>



                                                    </div>
                                                    <div class="product-action-2-wrap">
		                                                    {% if request.user.is_authenticated %}
				                                                <a href="{% url 'add_to_cart' slug=product.slug %}" class="product-action-btn-2"  title="Add To Cart"><i class="pe-7s-cart"></i>Add to cart</a>
		                                                    {% else %}
				                                                <a href="" class="product-action-btn-2"  title="Add To Cart"><i class="pe-7s-cart"></i>Add to cart</a>
		                                                    {% endif %}
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3><a href="product-details.html">{{product.title}}</a></h3>
                                                    <div class="product-price">
                                                        <span>{{product.price}}€ </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

		                                    <!-- Product Modal start -->
        <div class="modal fade quickview-modal-style" id="exampleModal-{{product.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"><i class=" ti-close "></i></a>
                    </div>
                    <div class="modal-body">
                        <div class="row gx-0">
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="modal-img-wrap">
                                    <img src="{{product.imageURL}}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-12">
                                <div class="product-details-content quickview-content">
                                    <h2>{{product.name}}</h2>
                                    <div class="product-details-price">
                                        <span>{{product.price}}€ </span>
                                    </div>
                                    <div class="product-details-review">
                                        <div class="product-rating">
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                        </div>
                                        <span>( 1 Customer Review )</span>
                                    </div>
                                    <div class="product-color product-color-active product-details-color">
                                        <span>Color :</span>
                                        <ul>
                                            <li><a title="Pink" class="pink" href="#">pink</a></li>
                                            <li><a title="Yellow" class="active yellow" href="#">yellow</a></li>
                                            <li><a title="Purple" class="purple" href="#">purple</a></li>
                                        </ul>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare tincidunt neque vel semper. Cras placerat enim sed nisl mattis eleifend.</p>
                                    <div class="product-details-action-wrap">
                                        <div class="product-quality">
                                            <input class="cart-plus-minus-box input-text qty text" name="qtybutton" value="1">
                                        </div>
                                        <div class="single-product-cart btn-hover">
                                            <a href="#">Add to cart</a>
                                        </div>
                                        <div class="single-product-wishlist">
                                            <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                        </div>
                                        <div class="single-product-compare">
                                            <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Modal end -->


                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- end shop-area-->



<!-- icon-area-->
<div class="service-area pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-wrap-2 text-center mb-30" data-aos="fade-up" data-aos-delay="200">
                            <div class="service-img-2">
                                <img src="{% static 'assets/images/icon-img/car.png' %}" alt="">
                            </div>
                            <div class="service-content-2">
                                <h3>Free Shipping</h3>
                                <p>Lorem ipsum dolor sit amet conse adipisicing elit sed do.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-wrap-2 text-center mb-30" data-aos="fade-up" data-aos-delay="400">
                            <div class="service-img-2">
                                <img src="{% static 'assets/images/icon-img/time.png' %}" alt="">
                            </div>
                            <div class="service-content-2">
                                <h3>Support 24/7</h3>
                                <p>Lorem ipsum dolor sit amet conse adipisicing elit sed do.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-wrap-2 text-center mb-30" data-aos="fade-up" data-aos-delay="600">
                            <div class="service-img-2">
                                <img src="{% static 'assets/images/icon-img/dollar.png' %}" alt="">
                            </div>
                            <div class="service-content-2">
                                <h3>Money Return</h3>
                                <p>Lorem ipsum dolor sit amet conse adipisicing elit sed do. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="service-wrap-2 text-center mb-30" data-aos="fade-up" data-aos-delay="800">
                            <div class="service-img-2">
                                <img src="{% static 'assets/images/icon-img/discount.png' %}" alt="">
                            </div>
                            <div class="service-content-2">
                                <h3>Order Discount</h3>
                                <p>Lorem ipsum dolor sit amet conse adipisicing elit sed do.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- end icon-area-->

{% endblock content %}
