{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{{ customer_vue|json_script:"customer_vue" }}

{% if messages %}
            {% for message in messages %}
                <div class="container">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
		                <center><h5>{{ message }}</h5></center>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lable="Close"></button>
                </div>

                </div>
            {% endfor %}
				{% endif %}

				<div class="my-account-wrapper pb-100 pt-100" id='customer'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- My Account Page Start -->
                        <div class="myaccount-page-wrapper">
                            <!-- My Account Tab Menu Start -->
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="myaccount-tab-menu nav" role="tablist">
                                        <a href="#dashboad" class="active" data-bs-toggle="tab">{% trans 'Panel de control' %}</a>
                                        <a href="#orders" class="" data-bs-toggle="tab">{% trans 'Pedidos' %}</a>
                                        <a href="#address-edit" class="" data-bs-toggle="tab">{% trans 'Dirección' %}</a>
                                        <a href="#account-info" class="" data-bs-toggle="tab">{% trans 'Detalles de su cuenta' %}</a>
                                        <a href="{% url 'logout' %}">{% trans 'Salir' %}</a>
                                    </div>
                                </div>
                                <!-- My Account Tab Menu End -->
                                <!-- My Account Tab Content Start -->
                                <div class="col-lg-9 col-md-8">
                                    <div class="tab-content" id="myaccountContent">
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>{% trans 'Panel de control' %}</h3>
                                                <div class="welcome">
                                                    <p>{% trans 'Hola' %}, <strong>{{ customer.user.username}}</strong></p>
                                                </div>

                                                <p class="mb-0">{{ text.text}}</p>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="orders" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Pedidos</h3>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>{% trans 'Fecha' %}</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                           {% for order in customer.orders.all %}
                                                            <tr>
                                                                <td>{{ order.id }}</td>
                                                                <td>{{ order.created_at|date:"d-m-Y" }}</td>
                                                                <td>{{ order.get_status_display }}</td>
                                                                <td>{{ order.cart.final_price }}</td>
                                                                <td><a href="{% url 'order_view' id=order.id %}">{% trans 'Ver Pedido' %}</a></td>
                                                            </tr>
                                                            {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->

                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="address-edit" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>{% trans 'Dirección' %}</h3>
                                                <address>
                                                    <p><strong>[[ userName ]]</strong></p>

                                                    <p>[[ city ]]</p>
                                                    <p>[[ street ]] [[ number]]</p>

                                                </address>


		                                            <div class="mb-20">
														<p class="cart-page-title"><a class="checkout-click1" href="#"><i class="fa fa-edit"></i>{% trans 'Editar Dirección' %}</a></p>
														<div class="checkout-login-info">
                                                    <br>
														
                                                <div>
                                                    <form @submit="onSubmitAddress">
                                                        <div class="sin-checkout-login">
                                                            <label>{% trans 'Ciudad' %} <abbr class="required" title="required">*</abbr></label>
                                                            <input v-model="customer.city"  class="form-control" name="city"  type="text" value="">
                                                        </div>
                                                                                <div class="sin-checkout-login">
                                                            <label>{% trans 'Calle' %} <abbr class="required" title="required">*</abbr></label>
                                                            <input v-model="customer.street"  class="form-control" name="street"  type="text" value="{{ customer.street }}">
                                                        </div>
                                                                                <div class="sin-checkout-login">
                                                            <label>{% trans 'Numero' %} <abbr class="required" title="required">*</abbr></label>
                                                            <input v-model="customer.number"  class="form-control" name="number"  type="text" value="{{ customer.number }}">
                                                        </div>
                                                            <div class="button-remember-wrap">
                                                        <button class="button" type="submit">{% trans 'Guardar' %}</button>
                                                    </div>

                                                    </form>
                                                </div>

												    </div>
                                                    
												</div>

                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="account-info" role="tabpanel">
		                                        <div class="myaccount-content">
                                                <h3>{% trans 'Detalles de su cuenta' %}</h3>
                                                <address>
                                                    <p><strong>[[ userName ]]</strong></p>

                                                    <p>[[ customer.first_name ]] [[ customer.last_name ]]</p>
                                                    <p>[[ customer.phone ]]</p>
                                                    <p>[[ customer.email ]]</p>

                                                </address>


		                                            <div class="mb-20">
														                    <p class="cart-page-title"><a class="checkout-click1" href="#"><i class="fa fa-edit"></i> {% trans 'Editar su cuenta' %}</a></p>
														                    <div class="checkout-login-info">
                                                    <br>
                                                    <form @submit="onSubmitAccount">
                                                        <div class="sin-checkout-login">
													        <label>{% trans 'Nombre' %} <abbr class="required" title="required">*</abbr></label>
													        <input v-model="customer.first_name" class="form-control" name="first_name"  type="text" >
													    </div>
														<div class="sin-checkout-login">
													        <label>{% trans 'Apellidos' %} <abbr class="required" title="required">*</abbr></label>
													        <input v-model="customer.last_name" class="form-control" name="last_name"  type="text" >
													    </div>
																				<div class="sin-checkout-login">
													        <label>{% trans 'Telefono' %} <abbr class="required" title="required">*</abbr></label>
													        <input v-model="customer.phone" class="form-control" name="phone"  type="text" >
													    </div>
													        <div class="sin-checkout-login">
													        <label>Email <abbr class="required" title="required">*</abbr></label>
													        <input v-model="customer.email" class="form-control" name="email"  type="text" >
													    </div>
                                                            <div class="button-remember-wrap">
                                                        <button class="button" type="submit">{% trans 'Guardar' %}</button>
                                                    </div>

                                                    </form>
                                            </div>

                                        </div> <!-- Single Tab Content End -->
                                    </div>
                                </div> <!-- My Account Tab Content End -->
                            </div>
                        </div> <!-- My Account Page End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- my account wrapper end -->
        
        

        <script src="{% static 'js/account.js' %}"></script>

{% endblock %}