{% extends 'main/base.html' %}
{% load static %}
{% block content %}

        <div class="contact-form-area pt-90 pb-100">
            <div class="container">
		            <div class="section-title-4 text-center mb-50" data-aos="fade-up" data-aos-delay="200">
                    <h2>Our Address! Please Visit Us.</h2>
                </div>
                    <div class="contact-form-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="row">
                            <div class="col-lg-4">
                              <div class="contact-us-info-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <div class="contact-us-info-title">
                                <h3>El Tablero</h3>
                            </div>
                            <div class="contact-us-info">
                                <p>Our storage is located in El Tablero next to ITV</p>
                                <span>Calle Punta Arena, 18, Sótano 2,<br>
                                El Tablero, Las Palmas,<br>35109 </span>
                            </div>
                            <div class="contact-us-info">
                                <p>Assistance hours: Monday – Friday</p>
                                <span>8:00 - 18:00 </span>
                            </div>
                        </div>
                            </div>
                            <div class="col-lg-8">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3530.382050205556!2d-15.611028684936594!3d27.767199982767163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc3f7d5afe7b5237%3A0xdc1d794f8f8142e2!2sCalle%20Puntarenas%2C%2018%2C%2035109%20El%20Tablero%2C%20Las%20Palmas!5e0!3m2!1ses!2ses!4v1614957326513!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>

                        </div>

                </div>
              </div>
           </div>
        <div class="map pt-120" data-aos="fade-up" data-aos-delay="200">

        </div>
        <div class="contact-form-area pt-90 pb-100">
            <div class="container">
                <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
                    <h2>Ask Us Anything Here</h2>
                </div>
                <div class="contact-form-wrap" data-aos="fade-up" data-aos-delay="200">
                    <form class="contact-form-style" id="contact-form" action="" method="post">
                        <div class="row">
                            <div class="col-lg-4">
                                <input name="name" type="text" placeholder="Name*">
                                <input name="email" type="email" placeholder="Email*">
                                <input name="subject" type="text" placeholder="Subject*">
                                <input name="phone" type="text" placeholder="Phone*">
                            </div>
                            <div class="col-lg-8">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 contact-us-btn btn-hover">
                                <button class="submit" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>


{% endblock content %}