{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% if messages %}
            {% for message in messages %}
                <div class="container">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
		                <center><h5>{{ message }}</h5></center>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lable="Close"></button>
                </div>

                </div>
            {% endfor %}
				{% endif %}

<div class="slider-area">
            <div class="slider-active swiper-container">
                <div class="swiper-wrapper">
		                {% for box in boxes %}
                    <div class="swiper-slide">
                        <div class="intro-section slider-height-1 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url({{ box.slide.url }})">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 hm2-slider-animation">
                                        <div class="slider-content-2 slider-animated-3">
                                            <h3 class="animated">{% trans 'Oferta especial' %}</h3>
                                            <h1 class="animated">{{ box.title }} <br>{{ box.price }}€/{% trans 'mes' %}</h1>
                                            <div class="slider-btn-2 btn-hover">
				                                            <a href="{% url 'add_to_cart' slug=box.slug %}" class="btn hover-border-radius theme-color animated"  title="{% trans 'Alquilar Ahora' %}">{% trans 'Alquilar Ahora' %}</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
		                <div class="home-slider-prev2 main-slider-nav2"><i class="fa fa-angle-left"></i></div>
                    <div class="home-slider-next2 main-slider-nav2"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
<!-- shop-area-->

<div class="product-details-area pb-100 pt-100">
            <div class="container">
                <div class="row">
		                {% for box in boxes %}
                    <div class="col-lg-6">
                        <div class="product-details-img-wrap" data-aos="fade-up" data-aos-delay="200">
                            <div class="easyzoom-style">
                            <img src="{{ box.image.url }}" alt="">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details-content" data-aos="fade-up" data-aos-delay="400">
                            <h2>{{ box.title }}</h2>
                            <div class="product-details-price">
		                            <span class="new-price">{{ box.price }}</span>
                                <span>€/{% trans 'mes' %}</span>

                            </div>

                            <div class="product-details-action-wrap">
                                <div class="single-product-cart btn-hover">
				                                <a href="{% url 'add_to_cart' slug=box.slug %}"  title="{% trans 'Alquilar Ahora' %}">{% trans 'Alquilar Ahora' %}</a>

                                </div>

                            </div>
                            <div class="product-details-meta">
                                <span>{{ box.description }}</span>
                            </div>
                            <div class="social-icon-style-4">

                            </div>
                        </div>
                    </div>
		                {% endfor %}
                </div>
            </div>
        </div>



                <div class="text-center">
                    <h2 style="font-weight: 500;">Smart Storage</h2>

                </div>



<div class="shop-area pt-100 pb-100">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-12">

                        <div class="shop-bottom-area">
                            <div class="tab-content jump">
                                <div >
                                    <div class="row">




									                      {% for product in items %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                            <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                                <div class="product-img img-zoom mb-25">
                                                        <img src="{{product.image.url}}" alt="{{product.title}}">

                                                    <div class="product-action-wrap">

                                                        <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal-{{product.id}}">
                                                            <i class="pe-7s-look"></i>
                                                        </button>



                                                    </div>
                                                    <div class="product-action-2-wrap">
				                                                <a href="{% url 'add_to_cart' slug=product.slug %}" class="product-action-btn-2"  title="{% trans 'Añadir al Pedido' %}"><i class="pe-7s-cart"></i>{% trans 'Añadir al Pedido' %}</a>

                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3>{{product.title}}</h3>
                                                    <div class="product-price">
                                                        <span>{{product.price}}€/{% trans 'mes' %}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

		                                    <!-- Product Modal start -->
																        <div class="modal fade quickview-modal-style" id="exampleModal-{{product.id}}" tabindex="-1" role="dialog">
																            <div class="modal-dialog modal-dialog-centered" role="document">
																                <div class="modal-content">
																                    <div class="modal-header">
																                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"><i class=" ti-close "></i></a>
																                    </div>
																                    <div class="modal-body">
																                        <div class="row gx-0">
																                            <div class="col-lg-5 col-md-5 col-12">
																                                <div class="modal-img-wrap">
																                                    <img src="{{product.image.url}}" alt="{{product.title}}">
																                                </div>
																                            </div>
																                            <div class="col-lg-7 col-md-7 col-12">
																                                <div class="product-details-content quickview-content">
																                                    <h2>{{product.title}}</h2>
																                                    <div class="product-details-price">
																                                        <span>{{product.price}}€/{% trans 'mes' %} (30 {% trans 'dias' %})</span>
																                                    </div>


																                                    <p>{{ product.description}}</p>
																                                    <div class="product-details-action-wrap">
																                                        <div class="single-product-cart btn-hover">
																				                                        <a href="{% url 'add_to_cart' slug=product.slug %}" class="product-action-btn-2"  title="{% trans 'Añadir al Pedido' %}"><i class="pe-7s-cart"></i>{% trans 'Añadir al Pedido' %}</a>

																                                        </div>
																                                    </div>
																                                </div>
																                            </div>
																                        </div>
																                    </div>
																                </div>
																            </div>
																        </div>
																        <!-- Product Modal end -->

                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- end shop-area-->





{% endblock content %}
